{% extends 'horsekiller/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 style="display: inline-block">Choroba: <span style="color: green">{{ disease.name_pl }} | {{ disease.name_en }} | {{ disease.name_lat }}</span>
    </h1>
    {% if disease.author == user %}
        <a href="{% url 'delete_disease' disease.id %}">
            <button class="btn btn-danger float-right mx-1">Usuń</button>
        </a>
        <a href="{% url 'update_disease' disease.id %}">
            <button class="btn btn-primary float-right mx-1">Edytuj</button>
        </a>
    {% endif %}
    <table class="table table-hover">
        <tr>
            <th>Nazwa polska</th>
            <td><a class="btn btn-outline-success btn-sm">{{ disease.name_pl }}</a></td>
        </tr>
        <tr>
            <th>Nazwa angielska</th>
            <td><a class="btn btn-outline-success btn-sm">{{ disease.name_en }}</a></td>
        </tr>
        <tr>
            <th>Nazwa łacińska</th>
            <td><a class="btn btn-outline-success btn-sm">{{ disease.name_lat }}</a></td>
        </tr>
        <tr>
            <th>Inne nazwy</th>
            <td><a class="btn btn-outline-success btn-sm">{{ disease.name_other }}</a></td>
        </tr>
        <tr>
            <th>Skróty</th>
            <td>CO TO SĄ SKRÓTY? :c</td>
        </tr>
        <tr>
            <th>Predyspozycje</th>
            <td><a class="btn btn-outline-success btn-sm">{{ disease.predisposition }}</a></td>
        </tr>
        <tr>
            <th>Uwagi i Komentarze z praktyki</th>
            <td>{{ disease.remarks_comments }}</td>
        </tr>
        <tr>
            <th>Przeżywalność</th>
            <td><a class="btn btn-outline-success btn-sm">{{ disease.survivability }}</a></td>
        </tr>
        <tr>
            <th>Diagnostyka</th>
            <td><a class="btn btn-outline-success btn-sm">{{ disease.diagnostics }}</a></td>
        </tr>
        <tr>
            <th>Postępowanie medyczne</th>
            <td><a class="btn btn-outline-success btn-sm">{{ disease.medical_procedure }}</a></td>
        </tr>
        <tr>
            <th>Przebieg</th>
            <td>{{ disease.process }}</td>
        </tr>
        <tr>
            <th>Postać Choroby</th>
            <td>{{ disease.disease_type }}</td>
        </tr>
        <tr>
            <th>Gatunek</th>
            <td>{{ disease.species }}</td>
        </tr>
        <tr>
            <th>Tagi</th>
            <td>{% for tag in disease.tags.names %}<a class="btn btn-outline-success btn-sm">{{ tag }}</a> {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Biedny weterynarz-autor:</th>
            <td>{{ disease.author }}</td>
        </tr>
    </table>

{% endblock content %}