{% extends 'horsekiller/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 style="display: inline-block">Lek: <span style="color: green">{{ medicine.medicine_name }}</span></h1>
    {% if medicine.author == user %}
        <a href="{% url 'delete_medicine' medicine.id %}">
            <button class="btn btn-danger float-right mx-1">Usuń</button>
        </a>
        <a href="{% url 'update_medicine' medicine.id %}">
            <button class="btn btn-primary float-right mx-1">Edytuj</button>
        </a>
    {% endif %}
    <table class="table table-hover">
        <tr>
            <th>Grupa Leku</th>
            <td>{% for med_group in medicine.medicine_group.all %}<a class="btn btn-outline-success btn-sm">{{ med_group }}</a> {% endfor %}</td>
        </tr>
        <tr>
            <th>Nazwy handlowe</th>
            <td>{% for market_name in medicine.market_names.all %}<a class="btn btn-outline-success btn-sm">{{ market_name }}</a> {% endfor %}</td>
        </tr>
        <tr>
            <th>Analogi</th>
            <td>{% for alt in medicine.alternative.all %}<a class="btn btn-outline-success btn-sm">{{ alt }}</a> {% endfor %}</td>
        </tr>
        <tr>
            <th>Przeciwskazania</th>
            <td>{% for contradiction in medicine.contradictions.all %}<a class="btn btn-outline-danger btn-sm">{{ contradiction }}</a> {% endfor %}</td>
        </tr>
        <tr>
            <th>Dawki</th>
            <td>{{ medicine.doses }}</td>
        </tr>
        <tr>
            <th>Działania niepożądanie</th>
            <td>{% for side_effect in medicine.side_effects.all %}<a class="btn btn-outline-danger btn-sm">{{ side_effect }}</a> {% endfor %}</td>
        </tr>
        <tr>
            <th>Wskazania</th>
            <td>{% for recommendation in medicine.recommendations.all %}<a class="btn btn-outline-success btn-sm">{{ recommendation }}</a> {% endfor %}</td>
        </tr>
        <tr>
            <th>Przedawkowanie</th>
            <td>{% for overdose in medicine.overdose.all %}<a class="btn btn-outline-danger btn-sm">{{ overdose }}</a> {% endfor %}</td>
        </tr>
        <tr>
            <th>Sposób podania</th>
            <td>{{ medicine.medicine_application }}</td>
        </tr>
        <tr>
            <th>Tagi</th>
            <td>{% for tag in medicine.tags.names %}<a class="btn btn-outline-success btn-sm">{{ tag }}</a> {% endfor %}</td>
        </tr>
        <tr>
            <th>Biedny weterynarz-autor:</th>
            <td>{{ medicine.author }}</td>
        </tr>
    </table>

{% endblock content %}