{% extends 'horsekiller/base.html' %}
{% block content %}
    <div class="text-center my-5">
        <h1 class="display-1">Kto Zabił Konia?</h1>
    </div>

    <div class="input-group my-3">
        <input type="text" class="form-control form-control-lg"
               placeholder="Szukaj według chorób, gatunków zwierząt, wirusów, leków...">
        <div class="input-group-append">
            <button class="btn btn-success btn-lg" type="submit">Szukaj</button>
        </div>
    </div>
    <div class="text-center">
        <i class="fas fa-horse fa-lg"></i>
    </div>
    <div class="text-justified">
        <blockquote class="blockquote text-center">
            <i>"Trzeba było iść na medycynę"</i>
            <footer class="blockquote-footer">Weterynarz</footer>
        </blockquote>
        <h3 class="text-center"><span style="color: green">Kto Zabił Konia</span> jest rewolucyjną bazą danych, która ma na celu uratować studentów weterynarzy od absolutnej desperacji z powodu nadchodzącej sesji.</h3>
    </div>
{% endblock content %}