{% extends 'horsekiller/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Postępowania medyczne:</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Procedury niezbędne</th>
            <th>Zabieg</th>
            <th>Lek</th>
            <th>Tagi</th>
            <th>Autor</th>
        </tr>
        </thead>
        <tbody>
        {% for med_pro in medicalprocedure_list %}
            <tr>
                <td>
                    <a href="{% url 'detail_medical_procedure' med_pro.pk %}">{{ med_pro.essential_procedures }}</a>
                </td>
                <td>{{ med_pro.surgery }}</td>
                <td>{{ med_pro.drug }}</td>
                <td>{% for tag in med_pro.tags.names %}
                    <a class="btn btn-outline-success btn-sm">{{ tag }}</a> {% endfor %}</td>
                <td>{{ med_pro.author }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}