{% extends 'horsekiller/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Leki:</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nazwa Leku</th>
            <th>Nazwa Handlowa</th>
            <th>Grupa Leku</th>
            <th>Tagi</th>
            <th>Autor</th>
        </tr>
        </thead>
        <tbody>
        {% for medicine in medicine_list %}
            <tr>
                <td><a href="{% url 'detail_medicine' medicine.pk %}">{{ medicine.medicine_name }}</a></td>
                <td>{% for mark_name in medicine.market_names.all %}<a class="btn btn-outline-success btn-sm">{{ mark_name }}</a> {% endfor %}</td>
                <td>{% for m_g in medicine.medicine_group.all %}<a class="btn btn-outline-success btn-sm">{{ m_g }}</a> {% endfor %}</td>
                <td>{% for tag in medicine.tags.names %}<a class="btn btn-outline-success btn-sm">{{ tag }}</a> {% endfor %}</td>
                <td>{{ medicine.author }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock content %}